*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* nav bar */

#nameLogo {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
    font-weight: 900;
    font-size: 26px;
    position: relative;
    z-index: 0;
}


/* making navbar change color when scroll */

.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}


/* brand blue ball */

.navbar-brand:after {
    position: absolute;
    top: 50%;
    left: -8px;
    width: 40px;
    height: 40px;
    content: '';
    background: #89daff;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#w {
    color: white;
}

.navbar.center {
    text-align: center;
}


/* manking nav items black in color */

.navbar.center .nav {
    display: inline-block;
    float: none;
}

.navbar-white .navbar-nav .nav-link {
    color: black;
}


/* text got greeting */

#greetingText {
    font-family: 'Dancing Script', cursive;
}

#myName1 {
    font-size: 50px;
}

#myName2 {
    font-size: 100px;
}

#myName3 {
    font-size: 50px;
    min-height: 30vh;
}

body #halfBg {
    height: 100%;
    background: linear-gradient(90deg, #ffffff 50%, #FFE3E0 50%);
}

#WhatIDoTitle {
    height: 100%;
    background: linear-gradient(90deg, #ffffff 50%, #FFE3E0 50%);
}

#whatIDoText {
    font-family: 'Quicksand', sans-serif;
}

#whatIDoBlock {
    background-color: white;
}

#aboutMeText {
    font-family: 'Quicksand', sans-serif;
}

#aboutMeText2,
#aboutMeText3,
#aboutMeText4 {
    color: grey;
    align-items: justify;
    font-family: 'Quicksand', sans-serif;
}


/* Add margin to the side when in small screens */

@media (max-width: 768px) {
    #aboutMeText {
        padding: 20px;
        margin: 0;
    }
}

.color {
    background: #90e0ef;
}


/* Divisor lines in About Me https://codepen.io/abensur/pen/pdDGi*/

.lower-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#2980b9, 0.5);
}

.lower-section {
    min-height: 40vh;
    width: 100%;
    background: linear-gradient(90deg, #ffffff 50%, #FFE3E0 50%);
}


/* the dot in section divider */

.section-divider {
    position: relative;
}

.section-divider:before {
    content: '';
    width: 6.5rem;
    height: 6.5rem;
    background: linear-gradient(90deg, #FFE3E0 50%, #ffffff 50%);
    border-radius: 100%;
    position: absolute;
    top: -3.25rem;
    left: calc(50% - 3.25rem);
    line-height: 6rem;
    text-indent: 1.75rem;
    font-size: 3rem;
}


/* contact me  */

#contactText {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 4vw;
}


/* Photo */

#myGlimpse {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7em;
    padding-bottom: 1em;
}


/* making card photos the same height */

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.card-body {
    height: 6vw;
    width: 80%;
}

.card-title {
    width: 100%;
}


/* responsive card layout mobile */

@media (max-width: 1024px) {
    #myCardFooter {
        display: none !important;
    }
    #myCardTitle {
        font-size: 1em;
    }
}

@media(max-width: 768px) {
    #myCardTitle {
        font-size: 0.5em;
    }
}

#footer1,
#footer2,
#emailBtn {
    color: black;
}